// styles for header Component
@import "../../resources/scss/index.scss";
.custom-table {
  text-transform: capitalize;
  table {
    border-collapse: collapse;
    width: 1000px;
    table-layout: fixed;
    text-transform: capitalize;
  }
  td,
  th {
    padding: 10px;
    min-width: 200px;
    border-right: 1px solid #ccc;
    text-align: center;
  }
  thead tr {
    background: $color-ink-blue;
    color: $color-white;
    display: block;
    position: relative;
  }
  tbody {
    display: block;
    height: 200px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  tbody tr:nth-child(even) {
    background: $color-light-blue;
  }
}
