// styles for Home Component
@import "../../resources/scss/index.scss";
.StateCard {
  position: relative;
  margin: 10px;
  width: 380px;
  min-height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: 0.4s;
  .state-card-name{
      color: $color-ink-blue;
      font-weight: bold;
  }
  .state-card-header {
    display: flex;
    justify-content: space-between;
  }
}
